<body>
<div class = "total">
  <ul class = "edge">
    <br/><br/>
    <div class = "writeApply">
      <label>请假类型
        <select [(ngModel)]="this.myApply.leaveKind" >
          <option [ngValue] ="-1"></option>
          <option [ngValue] ="0">事假</option>
          <option [ngValue] ="1">工伤假</option>
          <option [ngValue] ="2">病假</option>
          <option [ngValue]="3">婚假</option>
          <option [ngValue]="4">产假</option>
          <option [ngValue]="5">年假</option>
          <option [ngValue]="6">探亲假</option>
          <option [ngValue]="7">丧假</option>
        </select>
      </label>
    </div>
    <br/>
    <div class = "writeApply">
      <label>开始时间
        <input [(ngModel)]="myApply.startTime" type="text" placeholder="">
      </label>
    </div>
    <br/>
    <div class = "writeApply">
      <label>返回时间
        <input [(ngModel)]="myApply.endTime" type="text" placeholder="">
      </label>
    </div>
    <br/>
    <div class = "writeApply">
      <label>请假原因
        <textarea class = "reason" [(ngModel)]="myApply.reason"></textarea>
      </label>
    </div>
    <br/><br/><br/><br/>
    <div class = "writeApply" (click)="update()">
      <div class="button blue"><div class="shine"></div>修改</div>
    </div>
  </ul>
</div>
</body>

