body{
  /*background:url("background3.jpg");*/
  background-color: #fff;
  background-size:100% 100%;
  background-attachment: fixed;
}

/** {
  font-smoothing: antialiased;
}*/
/**{margin:0px;
  padding:0px;}*/

.resultDiv{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 400px;
  overflow : scroll;
  overflow-x: hidden;

}
.resultTable{
  position: absolute;
  margin: 5px 150px;
}
label{
  font-family: 楷体;
  font-size: 20px;
}
@-webkit-keyframes aa{ /*写一个动画函数*/
  from{-webkit-transform:rotateY(0deg);}
  to{-webkit-transform:rotateY(360deg);}
}
@-moz-keyframes aa{  /*写一个动画函数*/
  from{-moz-transform:rotateY(0deg);}
  to{-moz-transform:rotateY(360deg);}
}

.total{
  height:700px;
}
select:focus{
  box-shadow:0 0 5px rgba(81, 203, 238, 1);
  -webkit-box-shadow:0 0 5px rgba(81, 203, 238, 1);
  -moz-box-shadow:0 0 5px rgba(81, 203, 238, 1);
}
input{
  font-family: 楷体;
  font-size: 15px;
}
input:focus{
  box-shadow:0 0 5px rgba(81, 203, 238, 1);
  -webkit-box-shadow:0 0 5px rgba(81, 203, 238, 1);
  -moz-box-shadow:0 0 5px rgba(81, 203, 238, 1);

}
textarea{
  vertical-align: top;
  font-family: 楷体;
  font-size: 15px;
}
textarea:focus{
  box-shadow:0 0 5px rgba(81, 203, 238, 1);
  -webkit-box-shadow:0 0 5px rgba(81, 203, 238, 1);
  -moz-box-shadow:0 0 5px rgba(81, 203, 238, 1);
}
.edge{
  position: absolute;
  /*设置导航栏的框框*/
  margin: 50px 100px;
  width: 1050px;/*框框的宽度*/
  height: 700px;/*框框的长度*/
  padding: 0px;/*将框框的padding设置为零，不然会导致框框里的内容与框边缘有间隔*/
  border:1px solid #000;/*添加边框*/
  background-color: #fff;
}
ul {
  list-style: none;
  float: left;
}
li{
  list-style-type: none;/* 去掉li前的点 */
  float: left;/*将li设置成做浮动，变为联动*/
}
a{
  display: block;/*将a变成块状*/
  width: 150px;/*设置块的宽度*/
  height: 50px;/*设置块的长度*/
  font-family: Microsoft Yahei;
  line-height: 50px;/*设置字体在块中的高度*/
  background: #0d69ff linear-gradient(to right, rgba(0,255,0,0), rgba(15, 211, 255, 0.5));
  margin: 0px 0px;/*块里的高宽通过margin设置*/
  color: #fff;
  text-align: center;/*字体居中*/
  text-decoration: none;/*去掉下划线*/
  font-size: 15px;
}
a:hover{
  background: #ffd953 linear-gradient(to right, rgba(0,255,0,0), rgba(232, 32, 255, 0.5));
}
.pendingdiv{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 550px;
  overflow : scroll;
  overflow-x: hidden;
}
.pendingTable{
  position: absolute;
  margin: 5px 100px;
}
table {
  border-collapse: collapse;
  font-family: 楷体;
}
th,td {
  padding: .65em;
  width: 140px;
}

th,td {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  text-align: center;
  font-family: 楷体;
  font-size: 15px;
}

tbody tr:hover {
  background: linear-gradient(#fff,#aaa);
  font-size: 17px;
}

.tableoperate{
  width: 400px;
}

ul li{list-style:none;width:149px;height:46px;float:left;border-right:1px solid #000;line-height:46px;text-align:center;}
ul li:hover{background:rgba(10,5,5,0.7);}

.hid li{border:none;background:rgba(10,5,5,0.4);}
.hid li:hover{background:rgba(10,5,5,0.6);}

.hid1{height:0px;overflow:hidden;transition:.5s;} /*把高度设置为0，hover后改变高度，并且设置出来后的速度 */
ul li:hover .hid1{height:138px;}

.wordLink:hover{
  color: red;
}
.infoh{
  position: absolute;
  margin: 0px 130px;
  width: 1050px;
  height: 25px;
  border-top:1px solid #000;/*添加边框*/
  border-bottom:1px solid #000;/*添加边框*/
  border-left:1px solid #000;/*添加边框*/
  border-right:1px solid #000;/*添加边框*/
  padding: 0px;/*将框框的padding设置为零，不然会导致框框里的内容与框边缘有间隔*/
}
.info{
  position: absolute;
  width: 1050px;
  height: 25px;
}
.info_left{
  position: absolute;
  right: 650px;
  font-family: Microsoft Yahei;
  font-size: 20px;
  width:400px;
}
.info_middle{
  position: absolute;
  right: 300px;
  font-family: Microsoft Yahei;
  font-size: 20px;
  width:400px;
}
.info_middle_right{
  position: absolute;
  right: 050px;
  font-family: Microsoft Yahei;
  font-size: 20px;
  width:400px;
}
.info_right{
  position: absolute;
  right: 50px;
  text-align: right;
  font-family: Microsoft Yahei;
  font-size: 20px;
}
.info_right:hover{
  color: red;
}
